#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	$(MAKE) CFLAGS="$(CFLAGS) -O2"

override_dh_auto_install:
	mkdir -p debian/mdview/usr/bin
	mkdir -p debian/mdview/usr/share/applications
	mkdir -p debian/mdview/usr/share/icons/hicolor/scalable/apps
	install -m 0755 mdview debian/mdview/usr/bin/mdview
	sed 's|/home/joaoigorandrade/.local/bin/mdview|/usr/bin/mdview|' mdview.desktop \
	    > debian/mdview/usr/share/applications/mdview.desktop
	install -m 0644 mdview.svg debian/mdview/usr/share/icons/hicolor/scalable/apps/mdview.svg
